<main class="col-md-12 col-lg-12 px-md-4 vh-100 py-4">

    <div class="container table-responsive">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item active" aria-current="page">Komentari</li>
        </ol>
    </nav>
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Komentar</th>
                  <th scope="col">Aktivan</th>
                  <th scope="col">Post</th>
                  <th scope="col">Kreiran</th>
                  <th scope="col">Ažuriran</th>
                  <th scope="col">Obriši</th>
                  <th scope="col">Aktiviraj</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of comments | paginate: { itemsPerPage: 5, currentPage: p, totalItems: total } ">
                  
                    <td>{{c.id}}</td>
                    <td>{{c.username}}</td>
                    <td>{{c.text}}</td>
                    <td>{{c.isActive? "Da" : "Ne"}}</td>
                    <td>{{c.post.title}}</td>
               
                    <td>{{c.commentedAt}}</td>
                    <td>{{c.updatedAt ? c.updatedAt : 'Nije ažuriran'}}</td>
                    
                    <td class="text-center"><button class='btn' (click)="delete(c.id)"><i class="fa-solid text-danger fa-trash-can"></i></button></td>
                    <td class="text-center"><button class='btn' (click)="changeStatus(c.id)"><i [ngClass]="c.isActive ? 'fa-solid fa-circle-check text-success':'fa-solid fa-circle-xmark text-danger'" ></i></button></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <div class="container paginacija text-center">
              <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
              <span>Ukupno: {{total}}</span>
            </div>
          <div class='container my-3 bg-success text-center' *ngIf="resp != '' ">
            <p class="text-uppercase py-4 fw-bold text-white">{{resp}}</p>
          </div>
          
    </main>
    