<section class="min-vh-100 gradient-custom">
    <div class="container py-1 h-100">
    <form [formGroup]="addUser" (ngSubmit)="onSubmit()">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-8 col-xl-7">
          <div class="card bg-dark text-white shadow" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-4 text-uppercase">Registracija</h2>
  
                <div class="form-outline form-white mb-4">
                  <ng-container *ngIf="(f['FirstName'].touched && f['FirstName'].invalid)">
                    <span *ngIf="f['FirstName'].hasError('required')" class="text-danger pb-2">Ime je obavezno</span>
                    <span *ngIf="f['FirstName'].hasError('minlength')" class="text-danger pb-2">Minimalan broj karaktera je 2</span>
                    <span *ngIf="f['FirstName'].hasError('maxlength')" class="text-danger pb-2">Maksimalan broj karaktera je 40</span>
                    <span *ngIf="f['FirstName'].hasError('pattern')" class="text-danger pb-2">Dozvoljena su samo slova, specijalni karakteri i razmaci (npr. Sierra O'Neil)</span>
                  </ng-container>
                    <input type="text" class="form-control" id="firstName" aria-describedby="naziv" formControlName="FirstName" required>
                    <label for="firstName" class="form-label">Ime</label>
                  
                </div>
  
                <div class="form-outline form-white mb-4">
                  <ng-container *ngIf="(f['LastName'].touched && f['LastName'].invalid)">
                    <span *ngIf="f['LastName'].hasError('required')" class="text-danger pb-2">Prezime je obavezno</span>
                    <span *ngIf="f['LastName'].hasError('minlength')" class="text-danger pb-2">Minimalan broj karaktera je 3</span>
                    <span *ngIf="f['LastName'].hasError('maxlength')" class="text-danger pb-2">Maksimalan broj karaktera je 40</span>
                    <span *ngIf="f['LastName'].hasError('pattern')" class="text-danger pb-2">Dozvoljena su samo slova, specijalni karakteri i razmaci (npr. Sierra O'Neil)</span>
                  </ng-container>
                    <input type="text" class="form-control" id="naziv" aria-describedby="lastName" formControlName="LastName" required>
                    <label for="lastName" class="form-label">Prezime</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <ng-container *ngIf="(f['Username'].touched && f['Username'].invalid)">
                    <span *ngIf="f['Username'].hasError('required')" class="text-danger pb-2">Korisničko ime je obavezno</span>
                    <span *ngIf="f['Username'].hasError('pattern')" class="text-danger pb-2">Korisničko ime mora biti 4-25 karaktera. Dozvoljena su slova, brojevi . i _</span>
                  </ng-container>
                    <input type="text" class="form-control" id="username" aria-describedby="username" formControlName="Username" required>
                    <label for="username" class="form-label">Korisničko ime</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <ng-container *ngIf="(f['Email'].touched && f['Email'].invalid)">
                    <span *ngIf="f['Email'].hasError('required')" class="text-danger pb-2">E-mail je obavezan</span>
                    <span *ngIf="f['Email'].hasError('email')" class="text-danger pb-2">Neispravan format</span>
                  </ng-container>
                    <input type="email" class="form-control" id="email" aria-describedby="email" formControlName="Email" required>
                    <label for="email" class="form-label">Email</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <ng-container *ngIf="(f['Password'].touched && f['Password'].invalid)">
                    <span *ngIf="f['Password'].hasError('required')" class="text-danger pb-2">Lozinka je obavezna</span>
                    <span *ngIf="f['Password'].hasError('minlength')" class="text-danger pb-2">Minimalan broj karaktera je 8</span>
                    <span *ngIf="f['Password'].hasError('maxlength')" class="text-danger pb-2">Maksimalan broj karaktera je 15</span>
                  </ng-container>
                    <input type="password" class="form-control" id="password" aria-describedby="password" formControlName="Password" required>
                    <label for="password" class="form-label">Lozinka</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <span *ngIf="resp2!=''" class="text-danger pb-2">{{resp2}}</span>
                    <input type="file" class="form-control" id="image" aria-describedby="image" (change)="onFileChange($event)" formControlName="Image">
                    <label for="image" class="form-label">Slika</label>
                </div>
                <button class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]="addUser.invalid">Registruj se</button>
                <div class='container my-3 bg-info text-center' *ngIf="resp != '' ">
                    <p class="text-uppercase py-5 fw-bold text-white">{{resp}}</p>
                  </div>
              </div>
  
              <div>
                <p class="mb-0">Imate nalog? <a routerLink="/home/login" class="text-info fw-bold">Prijavite se</a>
                </p>
              </div>
              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a routerLink="/home" class="text-white btn btn-primary"><i class="fas fa-home fa-md"></i>  NAZAD</a>
              </div>
              
            
            </div>
          </div>
        </div>
      </div>
    </form>

    </div>
  </section>